<html>

<!-- head -->
<head>
    <title>Lobby</title>
    <script src="/js/paper.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>-->
    <script src="/socket.io/socket.io.js"></script>
</head>

<!-- body -->
<body>

    <!-- html -->
    <!-- include socket -->
    
    <script type="text/javascript" src="/js/chat.js"></script>

    <link rel="stylesheet" href="/css/index.css">
    <!-- create socket -->

    <div>
        <form action="/createServer" method="get">
            <input type="submit" name="name" value="Create Server" />
        </form>
    </div>

    <input id="connectServer" type="button" value="Connect Server" />
    <form action="/game/:id" method="get">
        <input id="input" class="hidden" type="text" name="" placeholder="Enter the ID">
    </form>

</body>

</html>