<html>
<head>
    <title>Tik-tac-toe</title>
    <!-- Load the Paper.js library -->
    <script src="/js/paper.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

    <!-- html -->
    <!-- include socket -->
    <script type="text/javascript" src="/js/chat2.js"></script>
    <link rel="stylesheet" href="/css/index2.css">
    <!-- create socket -->

    <div id="table">
        <div class="message"></div>
        <canvas id="myCanvas" style="position: relative; width: 40vw; height: 40vw; "></canvas>
        <div id="loading">We're looking for your oponent, please wait</div>
    </div>

</body>
</html>