<html>
<head>
    <title>Tik-tac-toe</title>
    <!-- Load the Paper.js library -->
    <script src="/paper.js"></script>

    <!-- Define inlined PaperScript associate it with myCanvas -->
    <!--<script type="text/paperscript" canvas="myCanvas2"> </script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

    <!-- html -->
    <!-- include socket -->
    <script src="/chat2.js"></script>
    <link rel="stylesheet" href="/index2.css">
    <!-- create socket -->

    <div id="table">
        <div class="message"></div>
        <canvas id="myCanvas" style="position: relative; width: 40vw; height: 40vw; "></canvas>
        <div id="loading">We're looking for your oponent, please wait</div>
    </div>

</body>
</html>